.cart {
  background-color: var(--main);
  width: 360px;
  height: 680px;
  position: absolute;
  top: 0;
  right: 72px;
  opacity: 1;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cart_title {
  align-self: flex-start;
  justify-self: flex-start;
  display: flex;
  font-size: 16px;
  line-height: 25.6px;
  width: 130px;
  justify-content: space-between;
}

.title {
  font-weight: 700;
}

.amount {
  font-weight: 500;
}

.items_sect {
  height: 190px;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 2px;
}

.items_sect::-webkit-scrollbar {
  width: 1px;
}

.item {
  display: flex;
  height: 190px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}

.item_info {
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  overflow-y: scroll;
  margin-right: 8px;
  position: absolute;
  left: 0;
  top: 0;
}

.item_info::-webkit-scrollbar {
  width: 1px;
}

.price {
  font-weight: 500;
}

.att_sect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.atts {
  display: flex;
}

.att, .att_selected {
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  border: 1px solid var(--secondary);
}

.att_selected {
  background-color: var(--secondary);
  color: var(--main);
}

.att_box {
  margin: 0 8px;
  overflow: hidden;
}

.att_box:first-of-type {
  margin-left: 0;
}

.att_box:last-of-type {
  margin-right: 0;
}


.color_att, .color_selected {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

.color_sect {
  width: 20px;
  height: 20px;
  margin: 0 8px;
  border: 1px solid var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_selected {
  border: 1px solid white;
}

.amount_sect {
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 136px;
}

.amount_btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid var(--secondary);
  background-color: transparent;
}

.amount_item {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
}

.img_cart {
  width: 120px;
  height: 100%;
  object-fit: cover;
  margin-left: 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.price_sect {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 32px;
}

.btn_sect {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn_to_cart, .btn_checkout {
  width: 150px;
  height: 45px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  margin: 32px 0;
}

.btn_to_cart {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.btn_checkout {
  color: var(--main);
  background-color: var(--accent);
}
