.header {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  padding: 24px 100px;
  height: 80px;
  align-items: center;
  position: relative;
  /* z-index: 1; */
  background-color: white;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.link {
  border: none;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--secondary);
  font-weight: 400;
}

.link_box, .active {
  display: flex;
  margin-right: 32px;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.active {
  border-bottom: 2px solid var(--accent);
}

.active .link {
  color: var(--accent);
  font-weight: 600;
}

.logo {
  height: 41px;
  width: 41px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.select_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 6%;
}

.select {
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.arrow {
  height: 12px;
  width: 20px;
  margin: 0 5px 0 10px;
}

.currencies {
  width: 114px;
  height: fit-content;
  position: absolute;
  right: 90px;
  top: 65px;
  border: none;
}

.curr_table {
  position: absolute;
  z-index: 2;
  width: 114px;
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.curr_table td {
  padding-left: 24px;
  line-height: 28.8px;
  font-weight: 500;
  font-size: 18px;
}

.curr_row {
  cursor: pointer;
}

.curr_row:nth-of-type(even) {
  height: 45px;
  background-color: rgba(238, 238, 238, 1);
}

.curr_row:nth-of-type(odd) {
  height: 62px;
  background-color: white;
}

.back {
  overflow: hidden;
}

.cart {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.cart_img {
  height: 30px;
  width: 30px;
}

.amount {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: var(--secondary);
  color: var(--main);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_overlay {
  width: fit-content;
  position: absolute;
  top: 80px;
  right: 0;
}
